In [1]:
import requests
import json
import datetime
import pandas as pd
import warnings
import numpy as np
import pymssql
import win32com.client as win32
from datetime import timedelta
warnings.filterwarnings('ignore')
pd.set_option('display.max_column', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
dia1 = str(datetime.datetime.now().day-1).zfill(2)
dia  =str(datetime.datetime.now().day).zfill(2)
mes = str(datetime.datetime.now().month).zfill(2)
mesanterior = str(datetime.datetime.now().month-1).zfill(2)
ano = str(datetime.datetime.now().year).zfill(4)
hora = str(datetime.datetime.now().hour).zfill(2)
minuto = str(datetime.datetime.now().minute).zfill(2)
segundos = str(datetime.datetime.now().second).zfill(2)
agora = dia+"/"+mes+"/"+ano+" "+hora+":"+minuto+":"+segundos
ontem = ano+"-"+mes+"-"+dia+"T"+"03"+":"+"00"+":"+"00"+"."+"000"+"Z"
primeirodia = ano+"-"+mesanterior+"-"+"2"+"1"+"T"+"03"+":"+"00"+":"+"00"+"."+"000"+"Z"
#Conectar ao banco do LTOTVS
def conect_totvs():
    serv = '192.168.0.236'
    databa = 'PROTHEUS_PRODUCAO'
    user = 'ismael.silva'
    passa = 'w!1zayeUAM'
    conn = pymssql.connect(serv, user, passa, databa)
    cursor = conn.cursor(as_dict=True)
    return conn, cursor

con_tot, cursor = conect_totvs()

<h1> Token AEON

In [2]:
urlaeon = "https://terceirizada.api.nexti.com/security/oauth/token"

payload = 'client_id=frontend&grant_type=password&password=1283&username=12836525797'
headers = {
  'sec-ch-ua': '"Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"',
  'sec-ch-ua-mobile': '?0',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36',
  'Authorization': 'Basic ZnJvbnRlbmQ6OWFmZDdhMWM5YjQzOTNmMjM0MDQyYzY3ZGZlZDExYTI0NWFiNjUzOA==',
  'tenant': '476',
  'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8',
  'Accept': 'application/json, text/plain, */*',
  'sec-ch-ua-platform': '"Windows"',
  'host': 'terceirizada.api.nexti.com'
}

response_aeon = requests.request("POST", urlaeon, headers=headers, data=payload)
token_aeon = response_aeon.json()['access_token']
url = "https://terceirizada.api.nexti.com/security/user"

payload = {}
headers = {
  'sec-ch-ua': '"Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"',
  'Accept': 'application/json, text/plain, */*',
  'sec-ch-ua-mobile': '?0',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36',
  'Authorization': 'Bearer '+ token_aeon,
  'tenant': '476',
  'sec-ch-ua-platform': '"Windows"',
  'host': 'terceirizada.api.nexti.com'
}

response_aeon = requests.request("GET", url, headers=headers, data=payload)

arquivo_aeon = json.loads(response_aeon.text)
chave_aeon = arquivo_aeon['details']['tokenValue']
url3 = "https://terceirizada.api.nexti.com/report/clocking/afd"

payload = "{\"idsClient\":[],\"idsCustomer\":[476],\"idsPerson\":[],\"idsWorkplace\":[],\"idsDevice\":[],\"format\":\"TXT\",\"startDate\":null,\"finishDate\":null,\"adjustmentDateStart\":\""+primeirodia+"\",\"adjustmentDateFinish\":\""+ontem+"\",\"idsClockingType\":[],\"idsAdjustmentReason\":[],\"datger\":\""+agora+"\",\"idCompany\":7128,\"fields\":[{\"field\":\"DATE_MARKING\",\"initialSize\":11,\"finalSize\":18,\"checked\":true},{\"field\":\"HOUR_MARKING\",\"initialSize\":19,\"finalSize\":22,\"checked\":true},{\"field\":\"PERSON_PIS\",\"initialSize\":23,\"finalSize\":34,\"checked\":true}],\"markInconsistencies\":null,\"idsBusinessUnit\":[],\"idsArea\":[],\"idsPersonResponsible\":[],\"idsCompany\":[],\"idsUseraccount\":[],\"isDismissed\":false,\"calHours\":false,\"isVisibleDatAdm\":null,\"hideClient\":null,\"showBarcode\":null,\"handwrittenSignature\":null,\"differentiateClockingIdentity\":null,\"dismissManulEventsFromBalance\":false,\"ignoreEmployeesWithAbsenceLaunched\":false,\"ignoreValidation\":null,\"userLogin\":2705174,\"userName\":\"ISMAEL LUIZ BORGES DA SILVA\",\"reportId\":21,\"orderByField\":\"\",\"companyNumberOption\":null,\"collaboratorSituation\":null,\"emitReason\":null,\"mirrorDsrDiscount\":null,\"emitWorkedHours\":null,\"emitTimeTrackingWorkedHours\":null,\"idsEnrolment\":[],\"idsWorkplacesCostCenter\":[],\"clockingNotTreated\":false,\"weeklyPaidRestWorkHours\":false,\"notGeneratePreMarkedMarkings\":false,\"fillWithZeros\":false,\"isLastAllocation\":false,\"dynamicBaseModelId\":null}"
headers = {
  'sec-ch-ua': '"Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"',
  'sec-ch-ua-mobile': '?0',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36',
  'Authorization': 'Bearer '+ chave_aeon,
  'tenant': '476',
  'Content-Type': 'application/json;charset=UTF-8',
  'Accept': 'application/json, text/plain, */*',
  'sec-ch-ua-platform': '"Windows"',
  'host': 'terceirizada.api.nexti.com'
}

response_aeon2 = requests.request("POST", url3, headers=headers, data=payload)

df_aeon = pd.DataFrame(response_aeon2.text.split("\r\n"))
df_aeon.columns = ['registro']
df_aeon['QUANTIDADE CARACTERICOS'] = df_aeon['registro'].map(lambda x: len(x))
df_aeon = df_aeon[df_aeon['QUANTIDADE CARACTERICOS']==34]
df_aeon['DataRegisto'] = df_aeon['registro'].map(lambda x: x[10:18])
df_aeon['HrRegisto'] = df_aeon['registro'].map(lambda x: x[18:22])
df_aeon['PIS'] = df_aeon['registro'].map(lambda x: x[22:])

<h1> Token PROVAC

In [38]:
query2 = """
SELECT 
    dbo.SRA010.RA_FILIAL AS Filial, 
    dbo.SRA010.RA_MAT AS Matricula, 
    dbo.SRA010.RA_NOME AS Funcionário, 
	CASE dbo.SRA010.RA_ESTCIVI
        WHEN 'C' THEN 'CASADO' 
        WHEN 'D' THEN 'DIVOCIADA' 
        WHEN 'M' THEN 'UNIAO ESTAVEL' 
        WHEN 'Q' THEN 'DESQUITADO'
		WHEN 'S' THEN 'SOLTEIRO' 
		WHEN 'V' THEN 'VIÚVO' 
        ELSE 'Não' 
    END AS [ESTADO CIVIL],
	CASE dbo.SRA010.RA_GRINRAI 
        WHEN '10' THEN 'ANALFABETO' 
        WHEN '20' THEN 'SERIE INCOMPLETA (PRIMARIO INCOMPLETO)' 
        WHEN '25' THEN 'SERIE COMPLETA DO 1§ GRAU (PRIMARIO COMPLETO)' 
        WHEN '30' THEN 'PRIMEIRO GRAU (GINASIO) INCOMPLETO'
		WHEN '35' THEN 'PRIMEIRO GRAU (GINASIO) COMPLETO' 
		WHEN '40' THEN 'SEGUNDO GRAU (COLEGIAL) INCOMPLETO' 
		WHEN '45' THEN 'SEGUNDO GRAU (COLEGIAL) COMPLETO' 
		WHEN '50' THEN 'SUPERIOR INCOMPLETO' 
		WHEN '55' THEN 'SUPERIOR COMPLETO' 
		WHEN '65' THEN 'MESTRADO COMPLETO' 
		WHEN '75' THEN 'DOUTORADO COMPLETO'
		WHEN '85' THEN 'POS-GRADUACAO/ESPECIALIZACAO'
		WHEN '95' THEN 'POS-DOUTORADO' 
        ELSE 'Não' 
    END AS ESCOLARIDADE,
	dbo.SRA010.RA_NATURAL AS Naturalizadade,
    FORMAT(CONVERT(DATE, dbo.SRA010.RA_NASC), 'dd/MM/yyyy') AS Nascimento, 
    FORMAT(CONVERT(DATE, dbo.SRA010.RA_ADMISSA), 'dd/MM/yyyy') AS Admissão, 
    FORMAT(CONVERT(DATE, dbo.SRA010.RA_DEMISSA), 'dd/MM/yyyy') AS Desligamento, 
    dbo.SRA010.RA_SALARIO AS Salário, 
    CASE dbo.SRA010.RA_ADCINS 
        WHEN '1' THEN 'Não' 
        WHEN '2' THEN 'Mínima' 
        WHEN '3' THEN 'Média' 
        WHEN '4' THEN 'Máxima' 
        ELSE 'Não' 
    END AS Insalubridade, 
    CASE dbo.SRA010.RA_ADCPERI 
        WHEN '1' THEN 'Não' 
        ELSE 'Sim' 
    END AS Periculosidade, 
    dbo.SRA010.RA_RG AS RG, 
    FORMAT(CONVERT(DATE, dbo.SRA010.RA_DTRGEXP), 'dd/MM/yyyy') AS [Exp RG], 
    dbo.SRA010.RA_ORGEMRG AS [Org Em RG], 
    dbo.SRA010.RA_RGUF AS [UF RG], 
    dbo.SRA010.RA_CIC AS CPF, 
    dbo.SRA010.RA_PIS AS PIS, 
    dbo.SRA010.RA_NUMCP AS CTPS, 
    dbo.SRA010.RA_SERCP AS [Série CTPS], 
    dbo.SRJ010.RJ_FUNCAO AS [Cód Função], 
    dbo.SRJ010.RJ_DESC AS Função, 
    dbo.SRJ010.RJ_CODCBO AS CBO, 
    dbo.SRA010.RA_SITFOLH AS Status, 
    dbo.SRA010.RA_CC AS [Cód CC], 
    dbo.CTT010.CTT_DESC01 AS [Descrição Centro de Custo], 
    dbo.SRA010.RA_SINDICA AS [Cód Sindicato], 
    dbo.RCE010.RCE_DESCRI AS [Descrição Sindicato], 
    dbo.SRA010.RA_TNOTRAB AS [Cód Turno], 
    dbo.SR6010.R6_DESC AS [Descrição Turno], 
    dbo.SRA010.RA_REGRA AS Regra, 
    dbo.SRA010.RA_HRSMES AS [Carga Horaria], 
    dbo.SRA010.RA_BCDEPSA AS [Banco/Agencia], 
    dbo.SRA010.RA_CTDEPSA AS Conta, 
    dbo.SRA010.RA_ENDEREC AS Endereço, 
    dbo.SRA010.RA_NUMENDE AS Número, 
    dbo.SRA010.RA_BAIRRO AS Bairro,
	dbo.SRA010.RA_COMPLEM AS [Complemento do Endereço],
    dbo.SRA010.RA_MUNICIP AS Munícipio,
	dbo.SRA010.RA_ESTADO AS Estado,
    dbo.SRA010.RA_CEP AS CEP, 
    dbo.SRA010.RA_SEXO AS Sexo, 
    dbo.SRA010.RA_DDDCELU AS [Cel DDD], 
    dbo.SRA010.RA_NUMCELU AS Celular, 
    dbo.SRA010.RA_DEPTO AS [Cód Depto], 
    dbo.SQB010.QB_DESCRIC AS [Descrição Depto], 
    CASE dbo.SRA010.RA_DEFIFIS 
        WHEN '2' THEN 'Não' 
        ELSE 'Sim' 
    END AS [Deficiente?], 
    CASE dbo.SRA010.RA_TPDEFFI 
        WHEN '0' THEN 'Não Possui' 
        WHEN '1' THEN 'Física' 
        WHEN '2' THEN 'Auditiva' 
        WHEN '3' THEN 'Visual' 
        WHEN '4' THEN 'Intelectual' 
        WHEN '5' THEN 'Múltipla' 
        WHEN '6' THEN 'Reabilitado' 
        ELSE 'Não Possui' 
    END AS [Tipo Deficiência], 
    dbo.SRA010.RA_ADCCONF AS [C Confiança], 
    dbo.SRA010.RA_ADCTRF AS [Adc Transf], 
    CASE dbo.SRA010.RA_BHFOL 
        WHEN 'N' THEN 'Não' 
        WHEN 'S' THEN 'Sim' 
        ELSE 'Não' 
    END AS [Banco de Horas?] 
FROM 
    ((((dbo.SRA010 
    INNER JOIN dbo.SRJ010 ON dbo.SRA010.RA_CODFUNC = dbo.SRJ010.RJ_FUNCAO) 
    INNER JOIN dbo.CTT010 ON dbo.SRA010.RA_FILIAL = dbo.CTT010.CTT_FILIAL AND dbo.SRA010.RA_CC = dbo.CTT010.CTT_CUSTO) 
    INNER JOIN dbo.RCE010 ON dbo.SRA010.RA_SINDICA = dbo.RCE010.RCE_CODIGO) 
    INNER JOIN dbo.SR6010 ON dbo.SRA010.RA_TNOTRAB = dbo.SR6010.R6_TURNO) 
    INNER JOIN dbo.SQB010 ON dbo.SRA010.RA_DEPTO = dbo.SQB010.QB_DEPTO
WHERE 
	--dbo.SRA010.RA_CC IN ( '0100841004', '0100841003', '0100841001', '0100841002', '0100841010')
	dbo.SRA010.RA_SITFOLH <> 'D'
	AND dbo.SRA010.D_E_L_E_T_<> '*'
    AND dbo.SRJ010.D_E_L_E_T_ <> '*' 
    AND dbo.CTT010.D_E_L_E_T_ <> '*' 
    AND dbo.RCE010.D_E_L_E_T_ <> '*' 
    AND dbo.SR6010.D_E_L_E_T_ <> '*' 
    AND dbo.SQB010.D_E_L_E_T_ <> '*'
"""

In [39]:
url = "https://provac.api.nexti.com/security/oauth/token"

payload = 'client_id=frontend&grant_type=password&password=1283&username=12836525797'
headers = {
  'sec-ch-ua': '"Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"',
  'sec-ch-ua-mobile': '?0',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36',
  'Authorization': 'Basic ZnJvbnRlbmQ6OWFmZDdhMWM5YjQzOTNmMjM0MDQyYzY3ZGZlZDExYTI0NWFiNjUzOA==',
  'tenant': '525',
  'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8',
  'Accept': 'application/json, text/plain, */*',
  'sec-ch-ua-platform': '"Windows"',
  'host': 'provac.api.nexti.com'
}

response = requests.request("POST", url, headers=headers, data=payload)
token = response.json()['access_token']
url = "https://provac.api.nexti.com/security/user"

payload = {}
headers = {
  'sec-ch-ua': '"Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"',
  'Accept': 'application/json, text/plain, */*',
  'sec-ch-ua-mobile': '?0',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36',
  'Authorization': 'Bearer '+token,
  'tenant': '525',
  'sec-ch-ua-platform': '"Windows"',
  'host': 'provac.api.nexti.com'
}

response = requests.request("GET", url, headers=headers, data=payload)
arquivo = json.loads(response.text)
chave = arquivo['details']['tokenValue']
url = "https://provac.api.nexti.com/report/clocking/afd"

payload = "{\"idsClient\":[],\"idsCustomer\":[525],\"idsPerson\":[],\"idsWorkplace\":[],\"idsDevice\":[],\"format\":\"TXT\",\"startDate\":null,\"finishDate\":null,\"adjustmentDateStart\":\""+primeirodia+"\",\"adjustmentDateFinish\":\""+ontem+"\",\"idsClockingType\":[],\"idsAdjustmentReason\":[],\"datger\":\""+agora+"\",\"idCompany\":7743,\"fields\":[{\"field\":\"DATE_MARKING\",\"initialSize\":11,\"finalSize\":18,\"checked\":true},{\"field\":\"HOUR_MARKING\",\"initialSize\":19,\"finalSize\":22,\"checked\":true},{\"field\":\"PERSON_PIS\",\"initialSize\":23,\"finalSize\":34,\"checked\":true}],\"markInconsistencies\":null,\"idsBusinessUnit\":[],\"idsArea\":[],\"idsPersonResponsible\":[],\"idsCompany\":[],\"idsUseraccount\":[],\"isDismissed\":true,\"calHours\":false,\"isVisibleDatAdm\":null,\"hideClient\":null,\"showBarcode\":null,\"handwrittenSignature\":null,\"differentiateClockingIdentity\":null,\"dismissManulEventsFromBalance\":false,\"ignoreEmployeesWithAbsenceLaunched\":false,\"ignoreValidation\":null,\"userLogin\":2670768,\"userName\":\"ISMAEL LUIZ BORGES DA SILVA\",\"reportId\":21,\"orderByField\":\"\",\"companyNumberOption\":null,\"collaboratorSituation\":null,\"emitReason\":null,\"mirrorDsrDiscount\":null,\"emitWorkedHours\":null,\"emitTimeTrackingWorkedHours\":null,\"idsEnrolment\":[],\"idsWorkplacesCostCenter\":[],\"clockingNotTreated\":false,\"weeklyPaidRestWorkHours\":false,\"notGeneratePreMarkedMarkings\":false,\"fillWithZeros\":false,\"isLastAllocation\":false,\"dynamicBaseModelId\":null}"
headers = {
  'sec-ch-ua': '"Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"',
  'sec-ch-ua-mobile': '?0',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36',
  'Authorization': 'Bearer '+chave,
  'tenant': '525',
  'Content-Type': 'application/json;charset=UTF-8',
  'Accept': 'application/json, text/plain, */*',
  'sec-ch-ua-platform': '"Windows"',
  'host': 'provac.api.nexti.com'
}
response = requests.request("POST", url, headers=headers, data=payload)
df = pd.DataFrame(response.text.split("\r\n"))
df.columns = ['registro']
df['QUANTIDADE CARACTERICOS'] = df['registro'].map(lambda x: len(x))
df = df[df['QUANTIDADE CARACTERICOS']==34]
df['DataRegisto'] = df['registro'].map(lambda x: x[10:18])
df['HrRegisto'] = df['registro'].map(lambda x: x[18:22])
df['PIS'] = df['registro'].map(lambda x: x[22:])
df = pd.concat([df, df_aeon])
df[df[['DataRegisto', 'HrRegisto', 'PIS']].duplicated(keep=False)].to_excel('C:/Users/ismael.silva/Documents/1 - Codigos/7 - RH/Duplicidade de registro nexti.xlsx', index=False)
ativos = pd.read_sql_query(query2, con_tot)
ativos2 = ativos[['Filial', 'Matricula', 'Funcionário', 'Nascimento', 'Admissão', 'CPF', 'PIS', 'Cód CC', 'Descrição Centro de Custo', 'Descrição Turno']]
ativos2['PIS'] = pd.to_numeric(ativos2['PIS'])
ativos2['PIS'] = ativos2['PIS'].fillna(0).astype('Int64')
df['PIS'] = df['PIS'].astype('int64')
ativos2.drop_duplicates('PIS', keep='first', inplace=True)
df2 = pd.merge(df, ativos2, how='left', on=['PIS'])
nulos = df2[df2['Filial'].isnull()]

cDataIni = "20082024000000"
cDataFim = "21092024235900"
url3 = "https://provac.api.nexti.com/report/clockings/start/"+cDataIni+"/finish/"+cDataFim

payload = "{\"idsClient\":[],\"idsCustomer\":[525],\"idsPerson\":[],\"idsWorkplace\":[],\"idsDevice\":[],\"format\":\"TXT\",\"startDate\":null,\"finishDate\":null,\"adjustmentDateStart\":\""+primeirodia+"\",\"adjustmentDateFinish\":\""+ontem+"\",\"idsClockingType\":[],\"idsAdjustmentReason\":[],\"datger\":\""+agora+"\",\"idCompany\":7743,\"fields\":[{\"field\":\"DATE_MARKING\",\"initialSize\":11,\"finalSize\":18,\"checked\":true},{\"field\":\"HOUR_MARKING\",\"initialSize\":19,\"finalSize\":22,\"checked\":true},{\"field\":\"PERSON_PIS\",\"initialSize\":23,\"finalSize\":34,\"checked\":true}],\"markInconsistencies\":null,\"idsBusinessUnit\":[],\"idsArea\":[],\"idsPersonResponsible\":[],\"idsCompany\":[],\"idsUseraccount\":[],\"isDismissed\":true,\"calHours\":false,\"isVisibleDatAdm\":null,\"hideClient\":null,\"showBarcode\":null,\"handwrittenSignature\":null,\"differentiateClockingIdentity\":null,\"dismissManulEventsFromBalance\":false,\"ignoreEmployeesWithAbsenceLaunched\":false,\"ignoreValidation\":null,\"userLogin\":2670768,\"userName\":\"ISMAEL LUIZ BORGES DA SILVA\",\"reportId\":21,\"orderByField\":\"\",\"companyNumberOption\":null,\"collaboratorSituation\":null,\"emitReason\":null,\"mirrorDsrDiscount\":null,\"emitWorkedHours\":null,\"emitTimeTrackingWorkedHours\":null,\"idsEnrolment\":[],\"idsWorkplacesCostCenter\":[],\"clockingNotTreated\":false,\"weeklyPaidRestWorkHours\":false,\"notGeneratePreMarkedMarkings\":false,\"fillWithZeros\":false,\"isLastAllocation\":false,\"dynamicBaseModelId\":null}"
headers = {
  'sec-ch-ua': '"Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"',
  'sec-ch-ua-mobile': '?0',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36',
  'Authorization': 'Bearer '+chave,
  'tenant': '525',
  'Content-Type': 'application/json;charset=UTF-8',
  'Accept': 'application/json, text/plain, */*',
  'sec-ch-ua-platform': '"Windows"',
  'host': 'provac.api.nexti.com'
}
response3 = requests.request("POST", url3, headers=headers, data=payload)

dftest = pd.DataFrame(response3.text.split("\r\n"))

dftest

In [40]:
df2['DataRegisto'] = pd.to_datetime(df2['DataRegisto'], errors='coerce', format='%d%m%Y')

df2['HrRegisto'] = pd.to_datetime(df2['HrRegisto'], errors='coerce', format='%H%M')
escala = pd.read_excel('C:/Users/ismael.silva/Documents/1 - Codigos/7 - RH/Escala.xlsx')
escala.drop_duplicates(keep='first', inplace=True)
df2 = pd.merge(df2, escala, how='left', on='Descrição Turno')
df2['HORA INICIO'] = pd.to_datetime(df2['HORA INICIO'], errors='coerce', format='%H:%M:%S')
condicao = [((df2['HORA INICIO']>'1900-01-01 13:20:00')&((df2['HrRegisto']>'1900-01-01 00:00:00')&(df2['HrRegisto']<'1900-01-01 10:00:00')))]
valor = [(df2['DataRegisto'] - pd.Timedelta(days=1))]
df2['DataRegisto2'] = np.select(condicao, valor, default=df2['DataRegisto'])

df2['HrRegisto'] = pd.to_datetime(df2['HrRegisto'], errors='coerce', format='%H%M').dt.time
#folhaPonto2['Inconsistência'] = np.where(folhaPonto2['Caracterios']%2!=0, "Inconsistência", "OK")

In [41]:
cc = pd.read_excel('C:/Users/ismael.silva/Documents/1 - Codigos/7 - RH/CCeFuncionario.xlsx', 'Planilha1', dtype=str)
cc.drop_duplicates('Cód CC', keep='first', inplace=True)
cc = cc[['Cód CC', 'Supervisão ', 'Ger. Regional']]
cc.columns = ['Cód CC', 'Supervisão', 'Ger. Regional']

In [42]:
df2['HrRegisto'] = df2['HrRegisto'].astype(str)

In [71]:
dfok = df2[['Matricula', 'PIS', 'DataRegisto', 'HrRegisto']]

In [105]:
df2

,registro,QUANTIDADE CARACTERICOS,DataRegisto,HrRegisto,PIS,Filial,Matricula,Funcionário,Nascimento,Admissão,CPF,Cód CC,Descrição Centro de Custo,Descrição Turno,HORA INICIO,DataRegisto2
0,0003530993210820241315012068095043,34,2024-08-21,13:15:00,12068095043,0101,149201,SILVIA APARECIDA DA SILVA,27/02/1968,26/02/2024,12808666837,0100813001,HOSPITAL UNIVERSITARIO II DA UNIFESP,SEG/SAB 13:20-21:40 INT 01:00 ...,NaT,2024-08-21
1,0003540723210820241807012068095043,34,2024-08-21,18:07:00,12068095043,0101,149201,SILVIA APARECIDA DA SILVA,27/02/1968,26/02/2024,12808666837,0100813001,HOSPITAL UNIVERSITARIO II DA UNIFESP,SEG/SAB 13:20-21:40 INT 01:00 ...,NaT,2024-08-21
2,0003542333210820241902012068095043,34,2024-08-21,19:02:00,12068095043,0101,149201,SILVIA APARECIDA DA SILVA,27/02/1968,26/02/2024,12808666837,0100813001,HOSPITAL UNIVERSITARIO II DA UNIFESP,SEG/SAB 13:20-21:40 INT 01:00 ...,NaT,2024-08-21
3,0003542943210820242101012068095043,34,2024-08-21,21:01:00,12068095043,0101,149201,SILVIA APARECIDA DA SILVA,27/02/1968,26/02/2024,12808666837,0100813001,HOSPITAL UNIVERSITARIO II DA UNIFESP,SEG/SAB 13:20-21:40 INT 01:00 ...,NaT,2024-08-21
4,0003559563220820241314012068095043,34,2024-08-22,13:14:00,12068095043,0101,149201,SILVIA APARECIDA DA SILVA,27/02/1968,26/02/2024,12808666837,0100813001,HOSPITAL UNIVERSITARIO II DA UNIFESP,SEG/SAB 13:20-21:40 INT 01:00 ...,NaT,2024-08-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159201,1393573633200920241302020422616839,34,2024-09-20,13:02:00,20422616839,0201,206152,THAIS MAXIMIANO DUARTE,15/07/1995,08/04/2024,45732578889,0200189031,INSS - APS SANTOS,SEG/SEX 06:30-16:18 INT 01:00 ...,NaT,2024-09-20
159202,1393971543200920241648020422616839,34,2024-09-20,16:48:00,20422616839,0201,206152,THAIS MAXIMIANO DUARTE,15/07/1995,08/04/2024,45732578889,0200189031,INSS - APS SANTOS,SEG/SEX 06:30-16:18 INT 01:00 ...,NaT,2024-09-20
159203,1395830323230920240715020422616839,34,2024-09-23,07:15:00,20422616839,0201,206152,THAIS MAXIMIANO DUARTE,15/07/1995,08/04/2024,45732578889,0200189031,INSS - APS SANTOS,SEG/SEX 06:30-16:18 INT 01:00 ...,NaT,2024-09-23
159204,1396468183230920241200020422616839,34,2024-09-23,12:00:00,20422616839,0201,206152,THAIS MAXIMIANO DUARTE,15/07/1995,08/04/2024,45732578889,0200189031,INSS - APS SANTOS,SEG/SEX 06:30-16:18 INT 01:00 ...,NaT,2024-09-23
159205,1396469303230920241300020422616839,34,2024-09-23,13:00:00,20422616839,0201,206152,THAIS MAXIMIANO DUARTE,15/07/1995,08/04/2024,45732578889,0200189031,INSS - APS SANTOS,SEG/SEX 06:30-16:18 INT 01:00 ...,NaT,2024-09-23

In [44]:
query = """
select P8_MAT, P8_DATA, P8_HORA from SP8010
"""

In [45]:
dados = pd.read_sql_query(query, con_tot)

In [68]:
dados

        P8_MAT   P8_DATA  P8_HORA
0       100029  20240821    7.400
1       100029  20240821   11.020
2       100029  20240821   12.300
3       100029  20240821   18.020
4       100029  20240823    7.410
...        ...       ...      ...
340402  500668  20240919   18.010
340403  500668  20240920    7.410
340404  500668  20240920   11.000
340405  500668  20240920   12.280
340406  500668  20240920   18.010

[340407 rows x 3 columns]

In [72]:
dfok['DataRegisto'] = dfok['DataRegisto'].astype('str')

In [73]:
dfok['DataRegisto'] = dfok['DataRegisto'].str.replace('-', '')

In [89]:
dfok['HrRegisto'] = dfok['HrRegisto'].str.replace(":", ".", 1).apply(lambda x: x[:-3]).astype(float)#

In [92]:
dados.rename(columns={'P8_MAT':'Matricula', 'P8_DATA':'DataRegisto', 'P8_HORA':'HrRegisto'}, inplace=True)

In [96]:
dados['PROTHEUS'] = 'SIM'

In [97]:
dfprotheusnext = pd.merge(dfok, dados, how='left', on=['Matricula', 'DataRegisto', 'HrRegisto'])

In [104]:
dfprotheusnext[(dfprotheusnext['Matricula']=='149265')&(dfprotheusnext['PROTHEUS'].isnull())]

      Matricula          PIS DataRegisto  HrRegisto PROTHEUS
28532    149265  20776409454    20240919     11.450      NaN
28533    149265  20776409454    20240919     12.540      NaN
28534    149265  20776409454    20240919     18.100      NaN
28535    149265  20776409454    20240920     13.430      NaN
28536    149265  20776409454    20240920     14.340      NaN
28542    149265  20776409454    20240922     19.200      NaN
28543    149265  20776409454    20240922     20.220      NaN
28544    149265  20776409454    20240923      7.440      NaN
28545    149265  20776409454    20240923     11.340      NaN
28546    149265  20776409454    20240923     12.560      NaN

In [ ]:
dfok[dfok['Matricula'].isnull()]['PIS'].unique()

In [26]:
folhaPonto = pd.pivot_table(df2, index=['Matricula', 'DataRegisto2'], 
                            values='HrRegisto', aggfunc=lambda x: list(x)).reset_index()

In [9]:
folhaPonto['DataRegisto2'] = folhaPonto['DataRegisto2'].astype(str)

In [10]:
folhaPonto['HrRegisto'] = folhaPonto['HrRegisto'].astype(str)
folhaPonto['HrRegisto'] = folhaPonto['HrRegisto'].str.replace('[', '')
folhaPonto['HrRegisto'] = folhaPonto['HrRegisto'].str.replace(']', '')
folhaPonto['HrRegisto'] = folhaPonto['HrRegisto'].str.replace("'", '')
folhaPonto['HrRegisto'] = folhaPonto['HrRegisto'].str.replace(",", ' |')
#folhaPonto['DataRegisto2'] = folhaPonto['DataRegisto2'].apply(lambda x: x.strftime('%d/%m/%y'))

In [11]:
folhaPonto.head()

  Matricula DataRegisto2            HrRegisto
0    104724   2024-06-21  07:17:00 | 17:14:00
1    104724   2024-06-24  07:22:00 | 17:15:00
2    104724   2024-06-25  07:17:00 | 17:14:00
3    104724   2024-06-26  06:58:00 | 17:14:00
4    104724   2024-06-27  07:21:00 | 17:14:00

#BASE DE EVENTOS PROTHEUS

In [ ]:
query = """SELECT 
    dbo.SPC010.PC_FILIAL AS Filial, 
    dbo.SPC010.PC_MAT AS Matricula, 
    dbo.SRA010.RA_NOME AS Funcionário, 
    dbo.SRA010.RA_CODFUNC AS [Cód Função], 
    dbo.SRJ010.RJ_DESC AS [Descrição Função], 
    dbo.SRA010.RA_CC AS [Cód CC], 
    dbo.CTT010.CTT_DESC01 AS [Descrição Centro de Custo], 
    dbo.SRA010.RA_SITFOLH AS Status, 
    dbo.SRA010.RA_TNOTRAB AS [Cod Tno], 
    dbo.SR6010.R6_DESC AS [Descrição Turno], 
    CONVERT(varchar, CONVERT(date, LEFT(dbo.SPC010.PC_DATA, 4) + '-' + SUBSTRING(dbo.SPC010.PC_DATA, 5, 2) + '-' + RIGHT(dbo.SPC010.PC_DATA, 2)), 103) AS Data, 
    dbo.SPC010.PC_PD AS [Cód Evento], 
    dbo.SP9010.P9_DESC AS [Decrição Evento], 
    dbo.SPC010.PC_ABONO AS Abono, 
    dbo.SPC010.PC_QUANTC AS [Horas Calculadas], 
    dbo.SPC010.PC_QTABONO AS [Horas Abonadas], 
    dbo.SPC010.PC_QUANTC - dbo.SPC010.PC_QTABONO AS [Horas Folha], 
    dbo.SRA010.RA_DEPTO AS [Cód Depto], 
    dbo.SQB010.QB_DESCRIC AS [Descrição Departamento] 
FROM 
    (((((dbo.SPC010 
    INNER JOIN dbo.SRA010 ON dbo.SPC010.PC_MAT = dbo.SRA010.RA_MAT) 
    INNER JOIN dbo.CTT010 ON dbo.SPC010.PC_FILIAL = dbo.CTT010.CTT_FILIAL AND dbo.SRA010.RA_CC = dbo.CTT010.CTT_CUSTO) 
    INNER JOIN dbo.SP9010 ON dbo.SPC010.PC_PD = dbo.SP9010.P9_CODIGO) 
    INNER JOIN dbo.SR6010 ON dbo.SRA010.RA_TNOTRAB = dbo.SR6010.R6_TURNO) 
    INNER JOIN dbo.SQB010 ON dbo.SRA010.RA_DEPTO = dbo.SQB010.QB_DEPTO) 
    INNER JOIN dbo.SRJ010 ON dbo.SRA010.RA_CODFUNC = dbo.SRJ010.RJ_FUNCAO 
WHERE 
    (dbo.SPC010.PC_QUANTC - dbo.SPC010.PC_QTABONO) > 0 
    AND dbo.SPC010.D_E_L_E_T_ <> '*' 
    AND dbo.CTT010.D_E_L_E_T_ <> '*' 
    AND dbo.SP9010.D_E_L_E_T_ <> '*' 
    AND dbo.SPC010.PC_PDI = '' 
    AND dbo.SR6010.D_E_L_E_T_ <> '*' 
    AND dbo.SQB010.D_E_L_E_T_ <> '*' 
    AND dbo.SRJ010.D_E_L_E_T_ <> '*' 
ORDER BY 
    dbo.SPC010.PC_MAT, dbo.SPC010.PC_DATA, dbo.SPC010.PC_PD;
"""
protheus = pd.read_sql_query(query, con_tot)

#BASE DO PROTEUS DE ADMIMTIDOS

In [17]:
Query_adm = """SELECT 
    dbo.SRA010.RA_FILIAL AS Filial, 
    dbo.SRA010.RA_MAT AS Matricula, 
    dbo.SRA010.RA_NOME AS Funcionário, 
    FORMAT(CONVERT(DATE, dbo.SRA010.RA_NASC), 'dd/MM/yyyy') AS Nascimento, 
    FORMAT(CONVERT(DATE, dbo.SRA010.RA_ADMISSA), 'dd/MM/yyyy') AS Admissão, 
    FORMAT(CONVERT(DATE, dbo.SRA010.RA_DEMISSA), 'dd/MM/yyyy') AS Desligamento, 
    dbo.SRA010.RA_SALARIO AS Salário, 
    CASE dbo.SRA010.RA_ADCINS 
        WHEN '1' THEN 'Não' 
        WHEN '2' THEN 'Mínima' 
        WHEN '3' THEN 'Média' 
        WHEN '4' THEN 'Máxima' 
        ELSE 'Não' 
    END AS Insalubridade, 
    CASE dbo.SRA010.RA_ADCPERI 
        WHEN '1' THEN 'Não' 
        ELSE 'Sim' 
    END AS Periculosidade, 
    dbo.SRA010.RA_RG AS RG, 
    FORMAT(CONVERT(DATE, dbo.SRA010.RA_DTRGEXP), 'dd/MM/yyyy') AS [Exp RG], 
    dbo.SRA010.RA_ORGEMRG AS [Org Em RG], 
    dbo.SRA010.RA_RGUF AS [UF RG], 
    dbo.SRA010.RA_CIC AS CPF, 
    dbo.SRA010.RA_PIS AS PIS, 
    dbo.SRA010.RA_NUMCP AS CTPS, 
    dbo.SRA010.RA_SERCP AS [Série CTPS], 
    dbo.SRJ010.RJ_FUNCAO AS [Cód Função], 
    dbo.SRJ010.RJ_DESC AS Função, 
    dbo.SRJ010.RJ_CODCBO AS CBO, 
    dbo.SRA010.RA_SITFOLH AS Status, 
    dbo.SRA010.RA_CC AS [Cód CC], 
    dbo.CTT010.CTT_DESC01 AS [Descrição Centro de Custo], 
    dbo.SRA010.RA_SINDICA AS [Cód Sindicato], 
    dbo.RCE010.RCE_DESCRI AS [Descrição Sindicato], 
    dbo.SRA010.RA_TNOTRAB AS [Cód Turno], 
    dbo.SR6010.R6_DESC AS [Descrição Turno], 
    dbo.SRA010.RA_REGRA AS Regra, 
    dbo.SRA010.RA_HRSMES AS [Carga Horaria], 
    dbo.SRA010.RA_BCDEPSA AS [Banco/Agencia], 
    dbo.SRA010.RA_CTDEPSA AS Conta, 
    dbo.SRA010.RA_ENDEREC AS Endereço, 
    dbo.SRA010.RA_NUMENDE AS Número, 
    dbo.SRA010.RA_BAIRRO AS Bairro, 
    dbo.SRA010.RA_MUNICIP AS Munícipio, 
    dbo.SRA010.RA_CEP AS CEP, 
    dbo.SRA010.RA_SEXO AS Sexo, 
    dbo.SRA010.RA_DDDCELU AS [Cel DDD], 
    dbo.SRA010.RA_NUMCELU AS Celular, 
    dbo.SRA010.RA_DEPTO AS [Cód Depto], 
    dbo.SQB010.QB_DESCRIC AS [Descrição Depto], 
    CASE dbo.SRA010.RA_DEFIFIS 
        WHEN '2' THEN 'Não' 
        ELSE 'Sim' 
    END AS [Deficiente?], 
    CASE dbo.SRA010.RA_TPDEFFI 
        WHEN '0' THEN 'Não Possui' 
        WHEN '1' THEN 'Física' 
        WHEN '2' THEN 'Auditiva' 
        WHEN '3' THEN 'Visual' 
        WHEN '4' THEN 'Intelectual' 
        WHEN '5' THEN 'Múltipla' 
        WHEN '6' THEN 'Reabilitado' 
        ELSE 'Não Possui' 
    END AS [Tipo Deficiência], 
    dbo.SRA010.RA_ADCCONF AS [C Confiança], 
    dbo.SRA010.RA_ADCTRF AS [Adc Transf], 
    CASE dbo.SRA010.RA_BHFOL 
        WHEN 'N' THEN 'Não' 
        WHEN 'S' THEN 'Sim' 
        ELSE 'Não' 
    END AS [Banco de Horas?], 
    dbo.SRA010.RA_ADMISSA
FROM 
    ((((dbo.SRA010 
    INNER JOIN dbo.SRJ010 ON dbo.SRA010.RA_CODFUNC = dbo.SRJ010.RJ_FUNCAO) 
    INNER JOIN dbo.CTT010 ON dbo.SRA010.RA_FILIAL = dbo.CTT010.CTT_FILIAL AND dbo.SRA010.RA_CC = dbo.CTT010.CTT_CUSTO) 
    INNER JOIN dbo.RCE010 ON dbo.SRA010.RA_SINDICA = dbo.RCE010.RCE_CODIGO) 
    INNER JOIN dbo.SR6010 ON dbo.SRA010.RA_TNOTRAB = dbo.SR6010.R6_TURNO) 
    INNER JOIN dbo.SQB010 ON dbo.SRA010.RA_DEPTO = dbo.SQB010.QB_DEPTO
WHERE 
    --dbo.SRA010.RA_SITFOLH <> 'D' 
    dbo.SRA010.RA_ADMISSA >= 19000101
	--and SRA010.RA_DEMISSA = ''
    AND dbo.SRJ010.D_E_L_E_T_ <> '*' 
    AND dbo.CTT010.D_E_L_E_T_ <> '*' 
    AND dbo.RCE010.D_E_L_E_T_ <> '*' 
    AND dbo.SR6010.D_E_L_E_T_ <> '*' 
    AND dbo.SQB010.D_E_L_E_T_ <> '*'
	--and dbo.SRA010.RA_MAT = 126706
ORDER BY 
    dbo.SRA010.RA_MAT;
"""
protheus_admitidos = pd.read_sql_query(Query_adm, con_tot)
protheus_admitidos = protheus_admitidos[['Filial', 'Matricula', 'Funcionário', 'PIS', 'Função', 'Cód CC', 'Descrição Centro de Custo', 'Descrição Turno', 'Descrição Depto']]
protheus_admitidos.drop_duplicates('Matricula', keep='first', inplace=True)

#BASE DO PROTEUS DE AFASTADOS

In [18]:
folha = pd.merge(folhaPonto,  protheus_admitidos[['Matricula', 'Funcionário', 'Função', 'Cód CC', 'Descrição Centro de Custo', 'Descrição Turno']], 
                 how='left', on=['Matricula'])

In [19]:
folha[folha['Descrição Centro de Custo'].str.contains('CEMIG')]

,Matricula,DataRegisto2,HrRegisto,Funcionário,Função,Cód CC,Descrição Centro de Custo,Descrição Turno
5862,142530,2024-06-21,11:06:00 | 17:54:00,MAURICIO BRAGA MEDRADO,SUPERVISOR DE RH,0100841010,CEMIG - BASE BETIM - BACKOFFICE,SEG/SEX 08:00-17:48 INT 01:00 ...
5863,142530,2024-06-24,07:56:00 | 18:16:00,MAURICIO BRAGA MEDRADO,SUPERVISOR DE RH,0100841010,CEMIG - BASE BETIM - BACKOFFICE,SEG/SEX 08:00-17:48 INT 01:00 ...
5864,142530,2024-06-25,07:56:00 | 17:54:00,MAURICIO BRAGA MEDRADO,SUPERVISOR DE RH,0100841010,CEMIG - BASE BETIM - BACKOFFICE,SEG/SEX 08:00-17:48 INT 01:00 ...
5865,142530,2024-06-26,11:20:00 | 18:04:00,MAURICIO BRAGA MEDRADO,SUPERVISOR DE RH,0100841010,CEMIG - BASE BETIM - BACKOFFICE,SEG/SEX 08:00-17:48 INT 01:00 ...
5866,142530,2024-06-27,08:07:00 | 17:41:00,MAURICIO BRAGA MEDRADO,SUPERVISOR DE RH,0100841010,CEMIG - BASE BETIM - BACKOFFICE,SEG/SEX 08:00-17:48 INT 01:00 ...
...,...,...,...,...,...,...,...,...
20325,155458,2024-07-17,06:56:00 | 16:53:00,PAULO FERNANDO DA SILVA,IN EQ SERV MULT I PE,0100841003,CEMIG CT6225 - BASE SETE LAGOAS - RDA,SEG/SEX 07:00-16:48 INT 01:00 ...
20326,155458,2024-07-18,05:52:00 | 17:59:00,PAULO FERNANDO DA SILVA,IN EQ SERV MULT I PE,0100841003,CEMIG CT6225 - BASE SETE LAGOAS - RDA,SEG/SEX 07:00-16:48 INT 01:00 ...
20327,155458,2024-07-19,06:57:00 | 16:53:00,PAULO FERNANDO DA SILVA,IN EQ SERV MULT I PE,0100841003,CEMIG CT6225 - BASE SETE LAGOAS - RDA,SEG/SEX 07:00-16:48 INT 01:00 ...
20328,155458,2024-07-20,06:52:00 | 15:35:00,PAULO FERNANDO DA SILVA,IN EQ SERV MULT I PE,0100841003,CEMIG CT6225 - BASE SETE LAGOAS - RDA,SEG/SEX 07:00-16:48 INT 01:00 ...
20329,155458,2024-07-22,06:52:00,PAULO FERNANDO DA SILVA,IN EQ SERV MULT I PE,0100841003,CEMIG CT6225 - BASE SETE LAGOAS - RDA,SEG/SEX 07:00-16:48 INT 01:00 ...

In [12]:
Query_afast = """SELECT 
    dbo.SR8010.R8_MAT AS Matricula, 
    dbo.SRA010.RA_NOME AS Funcionário, 
	dbo.RCE010.RCE_CODIGO AS [Cód Sindicato], 
    dbo.RCE010.RCE_DESCRI AS Sindicato, 
    dbo.SR8010.R8_TIPOAFA AS Cod, 
    dbo.RCM010.RCM_DESCRI AS [Descrição Afastamento], 
    FORMAT(CONVERT(DATE, dbo.SR8010.R8_DATAINI), 'dd/MM/yyyy') AS Início, 
    FORMAT(CONVERT(DATE, dbo.SR8010.R8_DATAFIM), 'dd/MM/yyyy') AS Térmimo,
	datediff(DAY, dbo.SR8010.R8_DATAINI, GETDATE()) AS [Data Afastado]

FROM 
    dbo.SR8010 
    INNER JOIN dbo.SRA010 ON dbo.SR8010.R8_MAT = dbo.SRA010.RA_MAT
    INNER JOIN dbo.RCM010 ON dbo.SR8010.R8_TIPOAFA = dbo.RCM010.RCM_TIPO
    INNER JOIN dbo.RCE010 ON dbo.SRA010.RA_SINDICA = dbo.RCE010.RCE_CODIGO
    INNER JOIN dbo.SQB010 ON dbo.SRA010.RA_DEPTO = dbo.SQB010.QB_DEPTO
    INNER JOIN dbo.CTT010 ON dbo.SRA010.RA_CC = dbo.CTT010.CTT_CUSTO AND dbo.SRA010.RA_FILIAL = dbo.CTT010.CTT_FILIAL
WHERE 
    --dbo.SR8010.R8_TIPOAFA NOT IN ('001', '002') 
    --AND dbo.SR8010.R8_DATAINI >= GETDATE()
	dbo.SR8010.R8_DATAFIM ='' OR dbo.SR8010.R8_DATAFIM > GETDATE()
    AND dbo.SQB010.D_E_L_E_T_ <> '*' 
    AND dbo.SR8010.D_E_L_E_T_ <> '*' 
    AND dbo.RCM010.D_E_L_E_T_ <> '*' 
    AND dbo.RCE010.D_E_L_E_T_ <> '*' 
    --AND dbo.SRA010.RA_SITFOLH = 'D'


ORDER BY
	dbo.SR8010.R8_DATAINI asc;
"""

protheus_afastados = pd.read_sql_query(Query_afast, con_tot)

In [13]:
datas = pd.date_range(primeirodia, ontem, freq='D')
matricula = protheus_admitidos['Matricula']
dataEMatri = []
for v in datas:
    for v2 in matricula:
        dataEMatri.append([v2, v.date()])
matedata = pd.DataFrame(dataEMatri, columns=['Matricula', 'DataRegisto2'])
matedata['DataRegisto2'] = matedata['DataRegisto2'].astype(str)

In [14]:
admitidos = pd.merge(matedata, folhaPonto, how='left', on=['Matricula', 'DataRegisto2'])

In [15]:
admitidos2 = pd.merge(admitidos, protheus_admitidos, how='left', on=['Matricula'])

In [16]:
protheus_afastados.drop_duplicates('Matricula', keep='last', inplace=True)
protheus_afastados = protheus_afastados[['Matricula', 'Descrição Afastamento', 'Início', 'Térmimo']]
protheus_afastados.loc[protheus_afastados['Térmimo']=='01/01/1900', 'Térmimo'] = ''

In [17]:
admitidos3 = pd.merge(admitidos2, protheus_afastados, how='left', on=['Matricula'])

In [32]:
diasemana = ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom']
admitidos3['Dia Da Semana'] = pd.to_datetime(admitidos3['DataRegisto2']).apply(lambda x: diasemana[x.weekday()])

In [33]:
cemig = admitidos3[admitidos3['Descrição Centro de Custo'].str.contains('CEMIG')]

In [18]:
admitidos4 = pd.merge(admitidos3, cc, how='left', on=['Cód CC'])

In [19]:
admitidos4 = admitidos4[~admitidos4['Ger. Regional'].isnull()]

In [20]:
admitidos4['HrRegisto'].fillna('Sem registro', inplace=True)

In [21]:
admitidos4.fillna('', inplace=True)

In [22]:
admitidos4['Caracterios'] = admitidos4['HrRegisto'].apply(lambda x: x.count("|"))

In [23]:
cemig = admitidos4[admitidos4['Descrição Centro de Custo'].str.contains('CEMIG')]

----------------------------------------------------------------------------------------------------

In [ ]:

he =['ADIC.NOTURNO 20%    ', 'SAIDA ANTECIPADA    ',
       'HE 50% - IN         ', 'HE 50% - NO         ',
       'ADIC.NOTURNO 50%    ', 'HE 70% - NO         ',
       'HE 70% - IN         ', 'HE 70% - CP         ',
       'HE 100% - DSR       ', 'HE 70% - NN         ', 
       'HE 70% - INN        ', 'HE 100% - ND        ', 
       'HE 70% - NC         ','HE 50% - CP         ', 
       'HE 60% - NO         ', 'ADIC.NOT.EXTRA 50%  '
       'HE 60% - IN         ', 'HE 60% - CP         ',
       'HE 50% - NC         ']

ab =['FALTA               ', 'ATRASO              ', 
     'SAIDA ANTECIPADA    ', 'ATRASO PER.ANT.NA   ',
       'FALTA 1/2 PERIODO   ', 'SAIDA EXPEDIENTE    ',
       'ATRASO PER.ANT      ']
protheus['Descrição']  = ''
protheus.loc[protheus['Decrição Evento'].isin(he), 'Descrição']= 'HE'
protheus.loc[protheus['Decrição Evento'].isin(ab), 'Descrição']= 'ABSETEÍSMO'
protheus2 = pd.pivot_table(protheus, index=['Matricula', 'Data'], columns='Descrição', values='Decrição Evento', aggfunc=list).fillna('')
protheus2.reset_index(inplace=True)
protheus2['Data'] = pd.to_datetime(protheus2['Data'], format='%d/%m/%Y')
protheus2['Data'] = protheus2['Data'].dt.strftime('%d/%m/%y')

In [ ]:
folhaPonto2.rename(columns={'DataRegisto2':'Data'}, inplace=True)
folhaPonto3 = pd.merge(folhaPonto2, protheus2, on=['Matricula', 'Data'], how='outer')
folhaPonto3 = folhaPonto3[~folhaPonto3['Descrição Centro de Custo'].isnull()]


linkemail = {'ALEXANDRE RODRIGUES MARQUES':'mauricio.medrado@grupoprovac.com.br', 'EVALDO ONE CARVALHO REIS':'mauricio.medrado@grupoprovac.com.br', 
             'ROGERIO MOREIRA CARVALHO': 'mauricio.medrado@grupoprovac.com.br','FRANCIELI RIBEIRO MALTA':'francieli.malta@grupoprovac.com.br', 
         'ANA TEREZA LEMOS FREITAS':'ana.tereza@grupoprovac.com.br', 'VAGNER HENRIQUES':'juridico@grupoprovac.com.br', 
         'SERGIO MILLANI':'leonardo.ghirelli@grupoprovac.com.br', 'FERNANDO GEA':'fernando.gea@grupoprovac.com.br', 
         'GUSTAVO GARCIA':'gustavo.garcia@grupoprovac.com.br', 'PAULO PREVIDELLI':'gustavo.garcia@grupoprovac.com.br', 
         'JULIO BERGAMO':'julio.bergamo@grupoprovac.com.br', 'KELLEN MOURO':'kelen.mouro@grupoprovac.com.br', 
         'GILBERTO JUNIOR':'gilberto.junior@grupoprovac.com.br', 'ANA RASTEIRO':'ana.rasteiro@grupoprovac.com.br', 
         'GUILHERME HENRIQUE FERREIRA':'guilherme.henrique@grupoprovac.com.br', 'MULLER DE PADUA OLIVEIRA':'muller.padua@grupoprovac.com.br', 
         'ADMINISTRATIVO':'gustavo.garcia@grupoprovac.com.br', 'DIEGO HENRIQUE COELHO ELIAS':'diego.elias@grupoprovac.com.br', 'MURILO GODOI':'murilo.godoi@grupoprovac.com.br'
}

In [ ]:
cemig = folhaPonto3[folhaPonto3['Descrição Centro de Custo'].str.contains('CEMIG')]

In [35]:
cemig.to_excel(f'C:/Users/ismael.silva/Documents/1 - Codigos/7 - RH/Folha Digital/Folha_de_Ponto_digital_cemig.xlsx', 'Plan1', index=False)
anexo = f'C:/Users/ismael.silva/Documents/1 - Codigos/7 - RH/Folha Digital/Folha_de_Ponto_digital_cemig.xlsx'
outlook = win32.Dispatch('outlook.application')
email = outlook.CreateItem(0)

email.To = 'patricia.valente@grupoprovac.com.br; mauricio.medrado@grupoprovac.com.br;marcos.silva@grupoprovac.com.br'
email.CC = ""
email.Subject = "Folha de ponto Digital NEXTI"
email.HTMLBody = """---------------------------E-mail Automatico-----------------------------------
<b>
<b>
Segue em anexo Folha de ponto Digital"""

email.Attachments.Add(anexo)


email.Send()

print(f'Email enviado com sucesso para CEMIG')

Email enviado com sucesso para CEMIG

In [ ]:
for gerente in folhaPonto3['Ger. Regional'].unique():
    link = linkemail[gerente]
    df4 = folhaPonto3[folhaPonto3['Ger. Regional']==gerente]
    df4.to_excel(f'C:/Users/ismael.silva/Documents/1 - Codigos/7 - RH/Folha Digital/Folha_de_Ponto_digital_{gerente}.xlsx', 'Plan1', index=False)
    
    #---------------------------------------------------------------------------------------------------------------------------------------------------
    
    anexo = f'C:/Users/ismael.silva/Documents/1 - Codigos/7 - RH/Folha Digital/Folha_de_Ponto_digital_{gerente}.xlsx'
    outlook = win32.Dispatch('outlook.application')
    email = outlook.CreateItem(0)

    email.To = link
    email.CC = "gustavo.garcia@grupoprovac.com.br;ismael.silva@grupoprovac.com.br"
    email.Subject = "Folha de ponto Digital NEXTI"
    email.HTMLBody = """---------------------------E-mail Automatico-----------------------------------
    <b>
    <b>
    Segue em anexo Folha de ponto Digital"""

    email.Attachments.Add(anexo)


    email.Send()

    print(f'Email enviado com sucesso para {gerente}')