In [ ]:

import pandas as pd
import numpy as np
from glob import glob
import os
from datetime import datetime
import warnings
import pyodbc
from sqlalchemy import create_engine
from urllib.parse import quote_plus
senha_codificada = quote_plus("Provac@2024")
engine = create_engine(f'postgresql+psycopg2://admin_provac:{senha_codificada}@192.168.0.232:5432/provac_producao')
warnings.filterwarnings('ignore')
pd.set_option('display.max_column', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
# Função para conectar ao banco de dados e executar a query
def get_data():
    #conn = st.connection("protheus_procducao")
    conn = pyodbc.connect('DRIVER={SQL Server};SERVER=192.168.0.236;DATABASE=PROTHEUS_PRODUCAO;UID=ismael.silva;PWD=w!1zayeUAM')
    query = """
    WITH Meses AS (
        SELECT 1 AS MesNumero, '01/2024' AS MesNome, '20240201' AS DataInicial, '20240229' AS DataFinal
        UNION SELECT 2, '02/2024', '20240301', '20240331'
        UNION SELECT 3, '03/2024', '20240401', '20240430'
        UNION SELECT 4, '04/2024', '20240501', '20240531'
        UNION SELECT 5, '05/2024', '20240601', '20240630'
        UNION SELECT 6, '06/2024', '20240701', '20240731'
        UNION SELECT 7, '07/2024', '20240801', '20240831'
        UNION SELECT 8, '08/2024', '20240901', '20240930'
        UNION SELECT 9, '09/2024', '20241001', '20241031'
        UNION SELECT 10, '10/2024', '20241101', '20241130'
        UNION SELECT 11, '11/2024', '20241201', '20241231'
        UNION SELECT 12, '12/2024', '20250101', '20250131'
    ),
    TotalMatriculas AS (
        SELECT
            S.RA_CC AS centro_custo,
            M.MesNome AS data,
            COUNT(S.RA_MAT) AS headcount
        FROM 
            Meses M
        LEFT JOIN 
            SRA010 S ON 
                S.RA_ADMISSA < M.DataInicial AND 
                (S.RA_DEMISSA = '' OR S.RA_DEMISSA >= M.DataInicial)
        WHERE 
            S.RA_ADMISSA < M.DataFinal
        GROUP BY 
            S.RA_CC, M.MesNumero, M.MesNome
    ),
    Admitidos AS (
        SELECT 
            RA_CC AS centro_custo, 
            FORMAT(CONVERT(DATE, RA_ADMISSA), 'MM/yyyy') AS data, 
            COUNT(RA_MAT) AS qt_admitidos
        FROM            
            SRA010
        WHERE 
            RA_ADMISSA >= '20240101' AND
            D_E_L_E_T_ <> '*'
        GROUP BY
            RA_CC, 
            FORMAT(CONVERT(DATE, RA_ADMISSA), 'MM/yyyy')
    ),
    Demitidos AS (
        SELECT 
            RA_CC AS centro_custo, 
            FORMAT(CONVERT(DATE, RA_DEMISSA), 'MM/yyyy') AS data, 
            COUNT(RA_MAT) AS qt_demitidos
        FROM            
            SRA010
        WHERE 
        
            RA_DEMISSA >= '20240101' AND
            RA_SITFOLH = 'D' AND 
            D_E_L_E_T_ <> '*'
        GROUP BY
            RA_CC, 
            FORMAT(CONVERT(DATE, RA_DEMISSA), 'MM/yyyy')
    )

    SELECT 
        T.centro_custo,
        T.data,
        T.headcount,
        COALESCE(A.qt_admitidos, 0) AS qt_admitidos,
        COALESCE(D.qt_demitidos, 0) AS qt_demitidos
    FROM 
        TotalMatriculas T
    LEFT JOIN 
        Admitidos A ON T.centro_custo = A.centro_custo AND T.data = A.data
    LEFT JOIN 
        Demitidos D ON T.centro_custo = D.centro_custo AND T.data = D.data
    ORDER BY 
        T.data DESC, T.centro_custo;
    """
    df = pd.read_sql(query, conn)
    df['turnover'] = round((((df['qt_demitidos']+df['qt_admitidos'])/2)/df['headcount'])*100, 2)
    conn.close()
    return df
# Carregar dados
df = get_data()
#Conectar ao banco do PostgreSQL
def conect_protgress():
    import psycopg2

    conn = psycopg2.connect(database = "provac_producao", 
                        user = "admin_provac", 
                        host= '192.168.0.232',
                        password = "Provac@2024",
                        port = 5432)
    cur = conn.cursor()
    return conn, cur

conn, cur = conect_protgress()
df['centro_custo'] = df['centro_custo'].str.strip()
cur = conn.cursor()
query_del = "DELETE FROM rh.turnover WHERE centro_custo <>'';"
cur.execute(query_del)
conn.commit()
df.to_sql('turnover', engine, if_exists='append', schema='rh', index=False)
print('Dados de Turnover inserido com sucesso!!')

Dados de Turnover inserido com sucesso!!